<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory> 
   		<property name="hibernate.connection.username">testuser</property>
   		<property name="hibernate.connection.password">1234</property>
		
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:2319/testdatabase</property>
   		
   		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.pool_size">2</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        
        <mapping class="DataEntitys.Field"/>
        <mapping class="DataEntitys.UserData"/>
</session-factory>
</hibernate-configuration>